<!DOCTYPE html>
<html lang="en">
<head>
 <link rel="stylesheet"  href="css/style.css" />
    <title>document</title>
</head>
<body>
   <h2>{{>navbar}}</h2>
  <h2>{{welcomemessage}}</h2>
</body>
</html>