<!DOCTYPE html>
<html lang="en">
<head>
    <title>new project</title>
    <link rel="stylesheet"  href="css/style.css" />
</head>
<body>
  <nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">Navbar</a>
  <form class="form-inline" id="form1">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"  id="address">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

</body>
  <script src="js/script.js"></script>
</html>